body {
    background: #453;
}
#container {
    position: relative;
    width: 400px;
    margin: 0 auto;
}
video {
    background: white;
    display: block;
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    filter: url(#filter);
}

#main {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr auto;
    justify-items: end;
}

label {
    padding-right: 1em;
    color: white;
}

.key::before {
    display: block;
    content: attr(id);
}
